<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/login" method="post">
		First Name<input type="text" name="firstname">
		last Name <input type="text" name="secondname">
		          <input type="submit" value="Submit">
	</form>	
</body>
